---
import abc_project from "@/assets/projects/abc/layer.png";
import nextjs from "@/assets/nextjs.svg";
import nestjs from "@/assets/nestjs.svg";
import tailwindcss from "@/assets/tailwindcss.svg";
import typescript from "@/assets/typescript.svg";
import postgresql from "@/assets/postgresql.svg";
import redis from "@/assets/redis.svg";
import typeorm from "@/assets/typeorm.svg";
---

<data>
  <div
    class="w-full overflow-hidden rounded-2xl aspect-video shadow-md shadow-amber-400/20"
  >
    <img
      src={abc_project.src}
      class="object-cover w-full h-full"
      alt="autobuses de colombia desktop preview"
    />
  </div>
  <div class="mx-2 mt-3">
    <h2 class="font-bold text-[18px]">
      Autobuses de Colombia: Full Stack project, News and Routes, +1000 images
      and more content.
    </h2>
    <p class="text-gray-400">Everything about Ground Transport in Colombia.</p>
    <div class="mt-2 flex gap-2 flex-wrap">
      <div class="flex gap-0.5 justify-center items-center">
        <img class="logo" src={nextjs.src} alt="nextjs logo" />
        <span class="text-[12px]">Next.js</span>
      </div>
      <div class="flex gap-0.5 justify-center items-center">
        <img class="logo" src={nestjs.src} alt="nestjs logo" />
        <span class="text-[12px]">Nest.js</span>
      </div>
      <div class="flex gap-0.5 justify-center items-center">
        <img class="logo" src={tailwindcss.src} alt="nestjs logo" />
        <span class="text-[12px]">Tailwind CSS</span>
      </div>
      <div class="flex gap-0.5 justify-center items-center">
        <img class="logo" src={typescript.src} alt="nestjs logo" />
        <span class="text-[12px]">TypeScript</span>
      </div>
      <div class="flex gap-0.5 justify-center items-center">
        <img class="logo" src={typeorm.src} alt="nestjs logo" />
        <span class="text-[12px]">TypeORM</span>
      </div>
      <div class="flex gap-0.5 justify-center items-center">
        <img class="logo" src={postgresql.src} alt="nestjs logo" />
        <span class="text-[12px]">PostgreSQL</span>
      </div>
      <div class="flex gap-0.5 justify-center items-center">
        <img class="logo" src={redis.src} alt="nestjs logo" />
        <span class="text-[12px]">Redis</span>
      </div>
    </div>
  </div>
</data>

<style>
  .logo {
    width: 15px;
    height: 15px;
  }
</style>
